
.footer
    height: 50px
    display: flex
    justify-content: center
    align-items: center
    &-text
        color: #000
        font-weight: 700
        text-shadow: none
        display: flex
        justify-content: center
        align-items: center